@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
@font-face {
font-family:'Destia';
    src: url(../Fonts/DestiaDemoOutline.ttf);
}

@font-face {
    font-family: 'BankGothic';
    src: url(../BankGothic\ Regular.ttf);
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    
}

body
{
    min-height: 650px;
    background-color: #ffdb58;
}

header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #000;
    display: flex;
    justify-content:flex-end;
    padding: 30px 10%;
    align-items: center;
}

header.sticky
{
    height: 140px;
}

header .title
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 1s;
}

header.sticky .title
{
    position: absolute;
    left: 30px;
    top: -70px;
    transform: translate(0,50%);
    width: 25%;
}

nav
{
    position: relative;
    display: flex;
    z-index: 1;
}

nav ul
{
    position: relative;
    display: flex;
    transition: 0.25s;
    transform: translateX(100px);
    opacity: 0;
}

header.sticky nav ul 
{
    transform: translateX(0);
    opacity: 1;
    margin-left: auto;
}

nav ul li
{
    list-style: none;
    padding: 0px 0px;
}

nav ul li a
{
    color: #fff;
    display: inline-block;
    padding: 10px 15px;
    font-size: 1.5em;
    text-decoration: none;
    transition: all 0.3s ease 0s;
    font-weight: 200;
    font-family:'Poppins';
}

ul li.active a
{
    color: #0088a9;
}

nav ul li a:hover
{
    color: #a6b2ec ;
}

button
{
    margin-left: 50px;
    margin-right: -90px;
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-weight: 400;
    color: #ededed;
}

button:hover
{
    background-color: rgba(0,136,169,0.8);
}

section
{
    opacity: 0;
}

section.sticky
{
    margin-top: 50px;
    padding: 100px;
    opacity: 1;
}

.title_name
{
    font-size:7rem;
    font-weight: 100;
    font-family:'Destia';
    text-transform: uppercase;
}

.title_intro
{
    font-size: 11rem;
    font-weight: 200;
    font-family:'Destia';
    text-transform: uppercase;
}

.hello
{
    margin-top: 230px;
}


