<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BENZOCHEM INDS</title>
    <link rel="stylesheet" href="about.css"> 
</head>
<body>
    <header>
         <video class="title" src="/images , videos/TITLE ANIMATION-1.mp4" autoplay loop muted></video> 
<audio autoplay>
            <source src="./audio/3 All About The Drums.wav" type="audio/wav">
         </audio>
         <nav>
    <ul>
        <li ><a href="/index.html">Home</a></li>
        <li class="active"><a href="./components/About/about.html">About</a></li>
        <li><a href="#">Products</a></li>
        <li><a href="#">Testimonials</a></li> 
        </ul>
</nav>
<a href="#" class="cta"><button>Contact</button></a>
</header>
</body>
<script src="https://unpkg.com/scrollreveal"></script>
<script src="/assets/JS/scrollRevel.js"></script>
</html>