@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
@font-face {
    font-family: 'Azonix';
    src: url(../Azonix.otf);
}

@font-face {
    font-family: 'BankGothic';
    src: url(../BankGothic\ Regular.ttf);
}

*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body
{
  background-color: #ffdb58;
}
 
li, a 
{
    font-family:'Poppins';
    font-weight: 200;
    color: #ededed;
}

button
{
    
    font-family: 'Poppins';
    font-weight: 400;
    color: #ededed;
}

header
{
    position: sticky;
    display: flex;
    justify-content:flex-end;
    align-items: center;
    height: 140px;
    background: #000;
}

header .title
{
    position: absolute;
    left: 30px;
    top: -124.6px;
    transform: translate(0,50%);
    width: 23%;
    object-fit: cover;
}

nav ul
{
    list-style: none;
}

nav ul li
{
    display: inline-block;
    padding: 0px 15px;
}

ul li.active a
{
    color: #0088a9;
}

nav ul li a
{
    transition: all 0.3s ease 0s;
    font-size: 1.5em;
    text-decoration: none;
}

nav ul li a:hover
{
    color: #a6b2ec;
}

button
{
    margin-left: 55px;
    margin-right: 50px;
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover
{
    background-color: rgba(0,136,169,0.8);
}
