<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BENZOCHEM INDS</title>
    <link rel="stylesheet" href="services.css"> 
</head>
<body>
    <header>
         <video class="title" src="/images , videos/main.mp4" autoplay loop muted></video> 
<audio autoplay>
            <source src="./audio/3 All About The Drums.wav" type="audio/wav">
         </audio>
         <nav>
    <ul>
        <li ><a href="/index.html">Home</a></li>
        <li ><a href="/components/About/about.html">About</a></li>
        <li><a href="#">Products</a></li>
        <li class="actives"><a href="/components/Services/services.html">Services</a></li>
    </ul>
</nav>
<a href="/components/ContactUs/contact.html" class="cta"><button>Contact</button></a>
</header>

<div class="wrapper">
    <div class="testimonials">
        <div class="title-1">
            <h2>Our <span>Testimonials</span></h2>
            <h3>Our Client</h3>
        </div>

        <div class="content">
            <div class="clients-list">
                <div class="clients-tabs">
                   
                   
                    <!-- items -->
                   
                    <div class="client-item">
                        <div class="client-thumbnil">
                            <img class="image-1" src="/images , videos/hetrajsinh.jpg" alt="">
                        </div>
                        <div class="client-intro">
                            <h5 class="client-name">Hetrajsinh J Raj</h5>
                            <small class="client-designation">Full-Stack Web Developer</small>
                            <p class="client-description">Love It ❤
                                </p>
                        </div>
                    </div>
                    <!-- end of item-->

                    <!-- items -->
                    <div class="client-item">
                        <div class="client-thumbnil">
                            <img class="image-2" src="/images , videos/Amita.jpg" alt="">
                        </div>
                        <div class="client-intro">
                            <h5 class="client-name">Amita J Raj</h5>
                            <small class="client-designation">House Wife</small>
                            <p class="client-description"> Love It ❤
                                </p>
                        </div>
                    </div>
                    <!-- end of item-->

                    <!-- items -->
                    <div class="client-item">
                        <div class="client-thumbnil">
                            <img class="image-3" src="/images , videos/Yashvi.png" alt="">
                        </div>
                        <div class="client-intro">
                            <h5 class="client-name">Yashvi J Raj</h5>
                            <small class="client-designation">Student</small>
                            <p class="client-description">Love It ❤
                                </p>
                        </div>
                    </div>
                    <!-- end of item-->


                    <!-- items -->
                    <div class="client-item">
                        <div class="client-thumbnil">
                            <img class="image-4" src="/images , videos/Dad(edit).png" alt="">
                        </div>
                        <div class="client-intro">
                            <h5 class="client-name">Jashvantsinh J Raj</h5>
                            <small class="client-designation">C.E.O of BENZOCHEM INDS</small>
                            <p class="client-description">Love It ❤
                                </p>
                        </div>
                    </div>
                    <!-- end of item-->


                    <!-- items -->
                    <div class="client-item">
                        <div class="client-thumbnil">
                            <img  class="image-5" src="/images , videos/Kuldeepsinh.jpg" alt="">
                        </div>
                        <div class="client-intro">
                            <h5 class="client-name">Kuldeepsinh K Solanki</h5>
                            <small class="client-designation">Video Editor / VFX Editor</small>
                            <p class="client-description">Love It ❤
                                </p>
                        </div>
                    </div>
                    <!-- end of item-->


                    <!-- items -->
                    <div class="client-item">
                        <div class="client-thumbnil">
                            <img class="image-6" src="/images , videos/Divyarajsinh(edited).png" alt="">
                        </div>
                        <div class="client-intro">
                            <h5 class="client-name">Divyarajsinh V Raj</h5>
                            <small class="client-designation">B.E In Chemistry (student)</small>
                            <p class="client-description">Love It ❤
                                </p>
                        </div>
                    </div>
                    <!-- end of item-->

                    


                </div>
            </div>

            <div class="show-info">
                <div class="show-img">
                    <img class="image-show-1"  src="/images , videos/hetrajsinh.jpg" alt="">
                </div>
                <div class="show-text">
                    <div>
                        <h4 class="show-name">Hetrajsinh J Raj</h4>
                        <small class="show-designation">Full-Stack Web Developer</small>
                    </div>
                    <p class="show-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit consequuntur repellat omnis dicta perferendis sit veritatis nostrum alias nobis eligendi hic, ducimus ut reprehenderit aut ullam quibusdam. Aut quis reprehenderit accusamus quaerat, rem minus, labore perspiciatis repudiandae ipsa quisquam dolor?
                    </p>
                    <a href="#">inquire now</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="query">
    <div class="question">
        <h2>Why Us ?</h2>
    </div>
    <div class="answer">
        <h4>Benzo Chem Industries has become a preferred name in the domain owing to its excellence. It has gained an edge over its competitors because of its following strengths :
        </h4>
      <ul> 
        <li>Well-equipped chemical laboratory</li>
        <li>Expert team</li>
        <li>Timely delivery</li>
        <li>Flawless quality</li>
        <li>100% client satisfaction</li>
    </ul> 
    </div>
    <div class="satisfaction">
        <h2>Client satisfaction</h2>
    </div>
    <div class="reply">
        <h4>Being a client centric organization, Benzo Chem Industries is committed to deliver complete satisfaction to the clients. We have become a well-known Manufacturer and Exporter by offering top quality chemicals. We offer our customers complete worth for their money.
        </h4>
    </div>

    <div class="team">
        <h2>Our Team</h2>
    </div>
    <div class="ans">
        <h4>Benzo Chem Industries has become a well-known name in the domain. This has been possible with our adroit team that is engaged in offering excellent quality products to the clients. Our experts are well-versed with the current trends and developments of the domain. They are the masters of their respective fields.
        </h4>
    </div>
</div>

</body>
<script src="https://unpkg.com/scrollreveal"></script>
<script src="/assets/JS/scrollRevel.js"></script>
<script src="/components/Services/services.js"></script>
</html>